.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
}

.contactInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
}

.infoItem {
  display: flex;
  flex: 1;
  min-width: 220px;
  padding: 15px;
  background-color: #0a1343;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.125rem;
  color: white;
  transition: transform 0.2s ease;
  height: 70px;
}

.infoItem:hover {
  transform: translateY(-3px);
}

.infoItem a {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease;
}

.infoItem a:hover {
  color: #005bb5;
}

/* If you want a separate style for phone numbers in a column, you can combine the styles */
