.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "text photo";
    width: 99vw;
    .text {
        grid-area: text;
        background-color: red;
        width: 100%;
        height: 50vh;
    }

    .photo {
        grid-area: photo;
        background-color: blue;
        width: 100%;
        height: 50vh;
    }
}