.services_list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3vw;
  li {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    div {
      display: flex;
      flex-direction: column;
    }
  }
}
#serviceBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-radius: 15px;
  height: 200px;
  background-color: #003399;
  width: calc(20% - 2.5vw);
  min-width: 250px;
  max-width: 300px;
}

#serviceBox:hover {
  transition: 0.25s linear;
  transform: scale(1.03);
}
